@page "/"
@inject NavigationManager Navigation

<h1>Hello, world!</h1>
<h1>Formulario</h1>

<EditForm Model="@novoCliente" OnValidSubmit="SalvarCliente">

	<div class="col-5">
		<label for="nome">Nome:</label><br>
		<InputText class="form-control col-5" id="nome" @bind-Value="novoCliente.nome" required /><br>

		<label for="cpf">CPF:</label><br>
		<InputText class="form-control col-5" id="cpf" @bind-Value="novoCliente.cpf" required/><br>

		<label for="telefone">Telefone:</label><br>
		<InputText class="form-control col-5" id="telefone" @bind-Value="novoCliente.telefone" required/><br>
		<br>
		<button class="btn btn-primary" type="submit">Enviar</button>
		<button class="btn btn-info" @onclick="lista">lista</button>
	</div>
</EditForm>
<br>

@code {
	Cliente novoCliente = new();
	
	bool salvando;

	private async Task SalvarCliente()
	{
		if(salvando)
		{
			return;
		}

		salvando = true;
		bool retorno = await new ClienteDAO().SalvarCadastro(novoCliente);

		// Zera os campos após salvar
		novoCliente = new Cliente();
		salvando = false;
	}

	private void lista()
	{
		Navigation.NavigateTo("/lista");
	}
}
