@page "/"
@inject NavigationManager Navigation

<EditForm Model="@cliente" OnValidSubmit="SalvarCliente">

	<div class="col-5">
		<label for="nome">Nome:</label><br>
		<InputText class="form-control col-5" id="nome" @bind-Value="cliente.nome" required /><br>

		<label for="cpf">CPF:</label><br>
		<InputText class="form-control col-5" id="cpf" @bind-Value="cliente.cpf" required /><br>

		<label for="telefone">Telefone:</label><br>
		<InputText class="form-control col-5" id="telefone" @bind-Value="cliente.telefone" required /><br>
		<br>
		<button class="btn btn-primary" type="submit">Enviar</button>
		<button class="btn btn-info" @onclick="lista">lista</button>
	</div>
</EditForm>
<br>

@code {
	Cliente cliente = new();
	bool salvando;

	private async Task SalvarCliente()
	{
		if (salvando)
		{
			return;
		}

		salvando = true;

		await new ClienteDAO().SalvarCadastro(cliente);

		// Zera os campos após salvar
		cliente = new Cliente();
		salvando = false;
	}

	private void lista()
	{
		Navigation.NavigateTo("/lista");
	}
}
