@page "/"
@using MauiApp4.Components.model
@inject NavigationManager Navigation

<h1>Hello, world!</h1>
<h1>Formulario</h1>

@if (mostrarNotificacao)
{
	<div class="alert alert-primary">
		Cadastro salvo com sucesso!
	</div>
}

<EditForm Model="@novoCliente" OnValidSubmit="SalvarCliente">

	<div class="col-5">
		<label for="nome">Nome:</label><br>
		<InputText class="form-control col-5" id="nome" @bind-Value="novoCliente.nome" required /><br>

		<label for="cpf">CPF:</label><br>
		<InputText class="form-control col-5" id="cpf" @bind-Value="novoCliente.cpf" /><br>

		<label for="telefone">Telefone:</label><br>
		<InputText class="form-control col-5" id="telefone" @bind-Value="novoCliente.telefone" /><br>

		<button class="btn btn-primary" type="submit">Enviar</button>
		<button class="btn btn-info" @onclick="lista">lista</button>
	</div>
</EditForm>
<br>

@code {
	Cliente novoCliente = new();
	bool mostrarNotificacao = false;

	async Task SalvarCliente()
	{
		Cliente.UltimoCliente = novoCliente;

		// Zera os campos após salvar
		//novoCliente = new();

		mostrarNotificacao = true;

		await Task.Delay(1000);
		mostrarNotificacao = false;

	}

	private void lista()
	{
		Navigation.NavigateTo("/lista");
	}
}
