@page "/lista"
@using MauiApp4.Components.model
@using MauiApp4.Components.DAO

<h3>Lista de Cadastros</h3>

@if (listaClientes == null)
{
	<p>Carregando...</p>
}
else if (listaClientes.Count == 0)
{
	<p>Nenhum cliente cadastrado.</p>
}

else
{
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Telefone</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var cliente in listaClientes)
			{
				<tr>
					<td>@cliente.nome</td>
					<td>@cliente.cpf</td>
					<td>@cliente.telefone</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	// Lista para armazenar os clientes carregados
	List<Cliente>? listaClientes;

	protected override async Task OnInitializedAsync()
	{
		var clienteDao = new ClienteDAO();
		listaClientes = await clienteDao.ListarClientes();
	}

}
