@page "/lista"
@using System.Threading.Tasks
@inject NavigationManager Navigation

<h3>Lista de Cadastros</h3>

<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>CPF</th>
			<th>Telefone</th>
			<th>Opções</th>
		</tr>
	</thead>
	<tbody>

		@if (lista != null)
		{
			@foreach (var cliente in lista)
			{
				<tr>
					<td>@cliente.nome</td>
					<td>@cliente.cpf</td>
					<td>@cliente.telefone</td>
					<td><button class="btn btn-outline-secondary" @onclick="() => BuscarClientePorID(cliente.id)">Editar</button></td>
					<td><button class="btn btn-outline-danger" @onclick="() => DeleteId(cliente.id)">Excluir</button></td>
				</tr>
			}
		}


	</tbody>
</table>

@code {
	List<Cliente> lista = new();

	protected override async Task OnInitializedAsync()
	{
		lista = await new ClienteDAO().ListarClientes();
	}

	private async Task DeleteId(int id)
	{
		await new ClienteDAO().ExcluirCliente(id);
		lista = await new ClienteDAO().ListarClientes();
	}

	private async Task BuscarClientePorID(int id)
	{
		Navigation.NavigateTo($"/home/{id}");
	}
}
